<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>videoChatApp</title>
    <link rel="stylesheet" href="/style.css" />
    <script type="text/javascript">
        const user_token = "<%= user_token %>";
        const group_id = "<%= group_id %>";
        const status = "<%= status %>";
        const call_id = "<%= call_id %>";
    </script>
    <script src="/test.js"></script>
</head>


<body>

</body>

</html>